{% extends "base.html.tera" %}
{% block content %}
    <h2>Students</h2>
    <ul>
    {% for student in students %}
        <li>{{ student.id }} - {{ student.name }} ({{ student.grade }})</li>
    {% endfor %}
    </ul>
{% endblock %}
